body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin: 0px;
    text-align: center;
}

a.header.item {
    font-size: 1.3em;
    top: -0.3em;
    font-weight: bold;
    text-align: left;
    float: left;
    /*margin-top: 0.55em;*/
    margin-left: 6.82vw;
    cursor: pointer;
}

.flags a {
    padding: .012em;
}

/* Nav */
.ui.fixed.borderless.menu {
    background-image: linear-gradient(to bottom right, #e676ca, rgba(102, 105, 192, 0.96));
    text-align: right;
    height: 7.7vh;
}

.ui .computer.only .item {
    color: #fff;
}

.ui.dropdown.item .menu {
    background-color: #4a008a !important;
}

.ui.menu .ui.dropdown .menu > .item {
    color: #fff !important;
}

.ui.menu .ui.dropdown .menu > .item.active {
    background-color: #00ba49 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
    text-align: center;
}

/* Mobile */
.tablet.mobile.only .header, .ui.icon.button > .icon {
    color: #fff;
}

.ui.vertical.menu {
    display: none;
    border: none;
    box-shadow: none;
    background-color: #4a008a;
}

.ui.vertical.menu > .item {
    padding-left: 1.428em;
    color: #fff;
}

.ui.vertical.menu > .item.active {
    padding-left: 1.428em;
    background-color: #00ba49 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.content {
    font-size: 16px;
    width: 50vw;
}

button {
    background-color: lightgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

a.link {
    color:grey;
    text-decoration: none;
}

.no-fouc {
    display: none;
}