h3 {
    text-align: right;
}
body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin:0px;
}

a.header.item {
    text-align: left;
    float: left;
    font-size: xx-large;
}

.flags a {
    padding: .012em;
}

a.item {
    padding-right: 5%;
    float: right;
    text-align: right;
}

/* Nav */
.ui.fixed.borderless.menu {
    background-color: #4a008a;
    text-align: right;
}

.ui .computer.only .item {
    color: #fff;
}

.ui .computer.only .item:hover {
    background: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui .computer .item.active {
    background: #00ba49;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-left: 5%;
}

.ui.dropdown.item .menu {
    background-color: #4a008a !important;
}

.ui.menu .ui.dropdown .menu > .item {
    color: #fff !important;
}

.ui.menu .ui.dropdown .menu > .item.active {
    background-color: #00ba49 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.ui.menu .ui.dropdown .menu > .item:hover {
    background-color: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui.fixed.borderless.menu .row > a.header.item {
    font-size: 1.2em;
}

/* Mobile */
.tablet.mobile.only .header, .ui.icon.button > .icon {
    color: #fff;
}

.tablet.mobile.only .header:hover {
    background-color: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui.basic.button:hover {
    background: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui.vertical.menu {
    display: none;
    border: none;
    box-shadow: none;
    background-color: #4a008a;
}

.ui.vertical.menu > .item {
    padding-left: 1.428em;
    color: #fff;
}

.ui.vertical.menu > .item.active {
    padding-left: 1.428em;
    background-color: #00ba49 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}


label {
    font-size: 18px;
}

body {
    padding: 40px;
}

.ui.dropdown {
    max-width: 800px;
}

.ui.right.labeled.input {
    max-width: 250px;
    align-content: center;

}

.ui.button {
    color:white;
    background-color: #4CAF50;
    width: 100px;
}

@media only screen and (max-width: 767px) {
    .ui.selection.dropdown .menu {
        /*      max-height: 8.01428571rem; /* + 1.335714285 to 9.349999995rem */
        /*      max-height: 9.349999995rem; /* Adds a half */
        max-height: 16.02857142rem; /* Double size */
    }
}
@media only screen and (min-width: 768px) {
    .ui.selection.dropdown .menu {
        /*         max-height: 10.68571429rem; /* + 1.3357142863 to 12.0214285763rem */
        max-height: 12.0214285763rem;
    }
}
@media only screen and (min-width: 992px) {
    .ui.selection.dropdown .menu {
        max-height: 16.02857143rem; /* + 1.3357142858 to 17.3642857158rem */
    }
}
@media only screen and (min-width: 1920px) {
    .ui.selection.dropdown .menu {
        max-height: 21.37142857rem; /* + 1.3357142856 to 22.7071428556rem */
    }
}

input {
    margin: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 7px;
    padding: 5px;
}

note {
    color: grey;
    font-size: 12px;
}

button {
    background-color: forestgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;

}

.dropdown-menu {
    height:100px;
    overflow-x: hidden;
}

button {
    background-color: forestgreen;
    color: white;
    justify-content: space-around;
    alignment: center;
    width: 30%;
    text-align: center;
    display:flex;

}
a.link
{
    color:grey;
    text-decoration: none;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
