body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 16px;
    margin: 0px;
}

a.header.item {
    top: -0.3em;
    font-size: 1.3em;
}

#defunct {
    pointer-events: none;
    cursor: default;
}

.flags a {
    padding: .012em;
}

a.item {
    padding-right: 5%;
    float: right;
    text-align: left;
}

/* Nav */
.ui.fixed.borderless.menu {
    background-image: linear-gradient(to bottom right, #8373e6, rgba(55, 192, 157, 0.96));
    text-align: right;
    float: right;
    height: 5vh;
}

.ui .computer.only .item {
    color: #fff;
}

.ui .computer .item.active {
    background: #00ba49;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-left: 5%;
}

.ui.menu .ui.dropdown .menu > .item {
    color: #fff !important;
}

/* Mobile */
.tablet.mobile.only .header, .ui.icon.button > .icon {
    color: #fff;
}

.ui.vertical.menu {
    display: none;
    border: none;
    box-shadow: none;
    background-color: #8e96d6;
}

.ui.vertical.menu > .item {
    padding-left: 1.428em;
    color: #fff;
}

#container {
    display: inline-block;
    background-color: lightgray;
    padding: 14px 20px;
    margin: 8px 10px;
    cursor: pointer;
    width: 25%;
    height: 250px;
    border-radius: 10px;
}

header {
    font-size: 20px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

a.link {
    color: grey;
    text-decoration: none;
}

input {
    margin: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 7px;
    padding: 5px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #4eb193;
    color: white;
    padding: 10px 17px;
    margin: 8px 0 4px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 6px;
    font-size: medium;
    font-family: Lato;
}

form {
    width: 40%;
    text-align: center;
    display: inline-block;
    align-content: center;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: gray;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* unvisited link */
a:link {
    color: #5d7cff;
}

/* visited link */
a:visited {
    color: #800080;
}

/* mouse over link */
a:hover {
    color: #ff588b;
}

/* selected link */
a:active {
    color: #5d7cff;
}

#guest {
    font-size: 14px;
    width: 30%;
    align-content: center;
    color: #f5ffff;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.no-fouc {
    display: none;
}
