body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    margin: 0px;
    text-align: center;
}

a.header.item {
    top: -0.3em;
    font-size: 1.3em;
}

.flags a {
    padding: .012em;
}

a.item {
    padding-right: 5%;
    float: right;
    text-align: left;
}

/* Nav */
.ui.fixed.borderless.menu {
    background-image: linear-gradient(to bottom right, #e676ca, rgba(102, 105, 192, 0.96));
    text-align: right;
    float: right;
    height: 5vh;
}

.ui .computer.only .item {
    color: #fff;
}

.ui .computer.only .item:hover {
    background: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui .computer .item.active {
    background: #00ba49;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-left: 5%;
}

.ui.dropdown.item .menu {
    background-color: #4a008a !important;
}

.ui.menu .ui.dropdown .menu > .item {
    color: #fff !important;
}

.ui.menu .ui.dropdown .menu > .item.active {
    background-color: #00ba49 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
    text-align: center;
}

.ui.menu .ui.dropdown .menu > .item:hover {
    background-color: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

/* Mobile */
.tablet.mobile.only .header, .ui.icon.button > .icon {
    color: #fff;
}

.tablet.mobile.only .header:hover {
    background-color: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui.basic.button:hover {
    background: #6311aa !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.ui.vertical.menu {
    display: none;
    border: none;
    box-shadow: none;
    background-color: #4a008a;
}

.ui.vertical.menu > .item {
    padding-left: 1.428em;
    color: #fff;
}

.ui.vertical.menu > .item.active {
    padding-left: 1.428em;
    background-color: #00ba49 !important;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

#container {
    display: inline-block;
    background-color: lightgray;
    padding: 14px 20px;
    margin: 8px 10px;
    cursor: pointer;
    width: 25%;
    height: 250px;
    border-radius: 10px;
}

header {
    font-size: 20px;
}


span.psw {
    float: right;
    padding-top: 16px;
}

a.link {
    color: grey;
    text-decoration: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 0.6em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.btn-group button {
    border-radius: 4px;
    border-color: #f5ffff;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: Lato;
}

#btn1 {
    background-color: #4CAF50; /* Green background */
}

#btn2 {
    background-color: #35adaf; /* Blue-green background */
}

#btn3 {
    background-color: #af3263; /* Magenta-pink background */
}

#btn-add-confirm {
    background-color: #4CAF50; /* Green background */
    border: none;
    border-radius: 4px;
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: Lato;
}

#btn-mov-confirm {
    background-color: #4CAF50; /* Green background */
    border: none;
    border-radius: 4px;
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: Lato;
}

#btn-swp-confirm {
    background-color: #4CAF50; /* Green background */
    border: none;
    border-radius: 4px;
    color: white; /* White text */
    padding: 10px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: Lato;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.add-course {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    margin: 0 auto;
    width: 60%;
    height: 70%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(87, 149, 117, 0.7); /* Fallback color */
}

.move-course {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    margin: 0 auto;
    width: 60%;
    height: 70%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(38, 168, 180, 0.7); /* Fallback color */
}

.swap-course {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    margin: 0 auto;
    width: 60%;
    height: 70%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(235, 74, 115, 0.7); /* Fallback color */
}

#course-to-move {
     width: 27%;
 }

#course-to-swap {
    width: 27%;
}

#dest-semester {
    width: 15%;
}

.ui-cards {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2vw;
}

.ui-raised-link-card {
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    border: medium solid;
    color: #444;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 4em;
    width: 22em;
    height: 22em;
    position:relative;
}

.course {
    font-size: 1.1em;
    margin-bottom: 1em;
    position: relative;
}

.more-info {
    display: none;
}

.course:hover .more-info {
    display: block;
    position: absolute;
    text-align: left;
    right: -6em;
    top: -1em;
    z-index: 2;
    background-color: rgba(158, 191, 250, 0.96); /* Black w/ opacity */
    padding: 0.6em;
    border-radius: 2px;
    height: fit-content;
    width: 17em;
    border: 3px solid #4337b6;
    box-shadow: 1px 1px 2px #888;
}

.blue {
    border-color: #54defa;
}

.bluegreen {
    border-color: #3effce;
}

.lavender {
    border-color: #b4b3ff;
}

.pink {
    border-color: #eb6c95;
}

.terracotta {
    border-color: #eb5c48;
}

#myBtn2 {
    grid-column-start: 2;
}

#myBtn4 {
    grid-column-start: 2;
}

#myBtn6 {
    grid-column-start: 2;
}

#myBtn8 {
    grid-column-start: 2;
}

#myBtn10 {
    grid-column-start: 2;
}

#myBtn12 {
    grid-column-start: 2;
}

#myBtn14 {
    grid-column-start: 2;
}

#myBtn16 {
    grid-column-start: 2;
}

.year {
    text-align: center;
    color: #090027;
    font-size: large;
    font-weight: bolder;
}

.header-cc_pointer {
    text-align: center;
    color: #090027;
    font-size: medium;
    border-width: 5px;
    border-bottom: double;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.meta-cc_pointer {
    color: grey;
    padding-top: 3px;
    font-size: small;
    text-align: center;
}

.modify {
    background-color: #251f82; /* Green background */
    border: none;
    border-radius: 4px;
    color: white; /* White text */
    padding: 0.3em; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-family: Lato;
    position: absolute;
    bottom: 1em;
    right: 1em;
    box-shadow: 1px 1px 1px #888;
}

.description {
    padding-left: 10px;
    padding-right: 10px;
}

.redirect {
    position: absolute;
    left: 1em;
}

#submit {
    color: #575757;
    background: none;
    font-size: 40px;
    border: none;
    cursor: pointer;
}

.ui.fluid.search.selection.dropdown {
    width: 70%;
    margin: 2% auto 0;
}

.no-fouc {
    display: none;
}