body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 100px;
}

input {
    margin: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 7px;
    padding: 5px;
}

note {
    color: grey;
    font-size: 12px;
}

button {
    background-color: lightgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;

}

.dropdown-menu {
    height:100px;
    overflow-x: hidden;
}