body {
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 100px;
}

#container1 {
    display: inline-block;
    background-color: ghostwhite;
    padding: 14px 20px;
    margin: 8px 10px;
    border: solid;
    border-color: #4CAF50;
    border-width: medium;
    cursor: pointer;
    width: 25%;
    height: 250px;
    border-radius: 10px;
}

#container2 {
    display: inline-block;
    background-color: ghostwhite;
    padding: 14px 20px;
    margin: 8px 10px;
    border: solid;
    border-color: #35adaf;
    border-width: medium;
    cursor: pointer;
    width: 25%;
    height: 250px;
    border-radius: 10px;
}

#container3 {
    display: inline-block;
    background-color: ghostwhite;
    padding: 14px 20px;
    margin: 8px 10px;
    border: solid;
    border-color: #af3263;
    border-width: medium;
    cursor: pointer;
    width: 25%;
    height: 250px;
    border-radius: 10px;
}


header {
    font-size: 20px;
}

/*#results {*/
/*    display: inline-block;*/
/*    background-color: lightgray;*/
/*    padding: 14px 20px;*/
/*    margin: 8px 10px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 20%;*/
/*    height: 150px;*/
/*    border-radius: 10px;*/
/*}*/

span.psw {
    float: right;
    padding-top: 16px;
}

a.link {
    color: grey;
    text-decoration: none;
}
.regen {
    border-radius: 4px;
    background-color: forestgreen;
    color:white;
    font-size: larger;
    padding:7px;
    margin:2%;
}